body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background: linear-gradient(217deg, rgba(141,147,171,.8), rgba(141,147,171,0) 40.71%),

              linear-gradient(127deg, rgba(241,243,248,.8), rgba(241,243,248,0) 80.71%),

             linear-gradient(336deg, rgba(241,243,248,.8), rgba(241,243,248,0) 70.71%);
  color: #393b44;
}

h1 {
  margin: 0;
  font-family: 'Clicker Script', cursive;
  font-size: 5rem;
}

h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 2rem;
  padding: 3.75rem 0;
}

.prog {
  font-weight: normal;
  margin: 0;
  position: relative;
  top: 3.125rem;
  padding: 0;
}

h1, h2 {
  color: #393b44;
}

h3, a {
  color: #8d93ab;
}

.top-container {

  margin-left: 0;
  margin-right: 0;
  height: 100vh;
  position: relative;
}

.middle-container {
}

.bottom-container {
  background-color: #d6e0f0;
  height: 5.625rem;
  margin-bottom: 0;
  padding: 1.25rem 0 0 0;
}

.bottom-container > p {
  margin-bottom: 0;
}

.logo {
  width: 11rem;
  height: 11rem;
  position: absolute;
}

#html-img {
  top: 20.5rem;
  left: 27rem;
}
#css-img{
  top: 19.5rem;
  left: 47.5rem;
  width: 13rem;
  height: 13rem;
}

#js-img {
  top: 27.5rem;
  left: 37.75rem;
}

#glasses-img {
  height: 25rem;
  margin-top: 5.875rem;
}

.logo {
  margin-top: 1.8125rem;
}

#head {
  position: relative;
  top: 6.25rem;
}

.python-img {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 1.875rem;
}

.cpp-img {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 1.875rem;
}

.avatar-img {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 100%;
  margin-top: 3.125rem;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto 9.375rem;
  text-align: left;
  line-height: 2;
}

hr {
  border: dotted #8d93ab;
  border-width: 0 0 0.625rem 0;
  width: 10%;
  margin: 3.125rem auto;
}

.btn {
  background: #393b44;
  background-image: -webkit-linear-gradient(top, #393b44, #8d93ab);
  background-image: -moz-linear-gradient(top, #393b44, #8d93ab);
  background-image: -ms-linear-gradient(top, #393b44, #8d93ab);
  background-image: -o-linear-gradient(top, #393b44, #8d93ab);
  background-image: linear-gradient(to bottom, #393b44, #8d93ab);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0.5rem;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem #666666;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
}

.btn:hover {
  background: #8d93ab;
  background-image: -webkit-linear-gradient(top, #8d93ab, #d6e0f0);
  background-image: -moz-linear-gradient(top, #8d93ab, #d6e0f0);
  background-image: -ms-linear-gradient(top, #8d93ab, #d6e0f0);
  background-image: -o-linear-gradient(top, #8d93ab, #d6e0f0);
  background-image: linear-gradient(to bottom, #8d93ab, #d6e0f0);
  text-decoration: none;
}

.contact-me {
  margin: 2.5rem auto;
  line-height: 3;
}

.contact-message {
  width: 40%;
  margin: auto;
}

.profile > p {
  position: relative;
  bottom: 1.25rem;
}

a {
  margin: 0 1.25rem;
  text-decoration: none;
}

a:hover {
  color: #f1f3f8;
}

.copyright {
  color: white;
}

