body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}

img {
}


h1 {
  margin: 0;
  font-family: 'Clicker Script', cursive;
}

h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

.top-container {
  background-image: linear-gradient(to right, #f1f3f8, #8d93ab);
  margin-left: 0;
  margin-right: 0;
  height: 100vh;
  position: relative;
}

.middle-container {
}

.bottom-container {
}

.logo {
  width: 250px;
  height: 250px;
  position: absolute;
}

#html-img {
  top: 35%;
  left: 570px;
}
#css-img{
  top: 33%;
  left: 1070px;
  width: 280px;
  height: 280px;
}

#js-img {
  top: 55%;
  left: 825px;
}

img {
  margin-top: 130px;
}

#head {
  position: relative;
  top: 150px;
}

.python-img {
  width: 300px;
  height: 300px;
}

.cpp-img {
  width: 300px;
  height: 300px;
}

.avatar-img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
