body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: 'Clicker Script', cursive;
  font-size: 5rem;
}

h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 2rem;
}

.prog {
  font-weight: normal;
  margin: 0;
  position: relative;
  top: 50px;
}

h1, h2 {
  color: #393b44;
}

h3, a {
  color: #8d93ab;
}

.top-container {
  background-image: linear-gradient(to right, #f1f3f8, #8d93ab);
  margin-left: 0;
  margin-right: 0;
  height: 100vh;
  position: relative;
}

.middle-container {
}

.bottom-container {
}

.logo {
  width: 250px;
  height: 250px;
  position: absolute;
}

#html-img {
  top: 450px;
  left: 580px;
}
#css-img{
  top: 425px;
  left: 1070px;
  width: 280px;
  height: 280px;
}

#js-img {
  top: 600px;
  left: 825px;
}

#glasses-img {
  height: 600px;
  margin-top: 110px;
}

.logo {
  margin-top: 45px;
}

#head {
  position: relative;
  top: 100px;
}

.python-img {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}

.cpp-img {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.avatar-img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 150px;
  text-align: left;
  line-height: 2;
}

