body {
  margin: 0;
}

img {
}


h1 {
 margin: 0;
}

.top-container {
  background-image: linear-gradient(to right, #E3E6EC, #8d93ab);
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  height: 100vh;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.logo {
  width: 250px;
  height: 250px;
  position: absolute;
}

#html-img {
  top: 270px;
  left: 570px;
}
#css-img{
  top: 250px;
  left: 1070px;
  width: 280px;
  height: 280px;
}

#js-img {
  top: 450px;
  left: 825px;
}

img {
  margin-top: 200px;
}
